.about-section {
    background-color: #f8fafc;
    padding: 60px 0;
    /* Desktop ke liye thoda kam kiya */
}


.about-section h2 {
    font-size: 2.2rem;
    color: #0f172a;
}

.about-section p {
    font-size: 1rem;
    color: #334155;
    line-height: 1.7;
}

.about-img {
    max-width: 100%;
    border: 5px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;

}

.about-stats .stat {
    min-width: 100px;
    text-align: center;
}

.about-stats .stat p {
    font-size: 0.95rem;
    color: #64748b;
}

@media (max-width: 768px) {
    .about-section {
        padding: 40px 0;
    }
}