.navbar{
    background: linear-gradient(135deg, #0f172a, #1e293b) !important;
    box-shadow: 0 3px 10px rgba(0,0, 0, 0.4);
}
.navbar-brand{
    font-size: 1.4rem;
    font-weight: bold;
    color: #38bdf8 !important;
    transition: all 0.3s ease;

}
.navbar-brand:hover{
    color: #67e8f9 !important;
}
.nav-link{
    color: #cbd5e1 !important;
    font-weight: 500;
    margin-left: 15px;
    transition: all 0.3s ease ;
}

.nav-link:hover{
    color: #38bdf8 !important;
    transform: translateY(-2px);
}