/* .resume-button {
  position: fixed;
  bottom: 130px;
  left: 20px;
  background: #1e293b;
  padding: 10px;
  border-radius: 50%;
  z-index: 1000;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-button:hover {
  transform: scale(1.1);
  background: #38bdf8;
}

.resume-button img {
  width: 24px;
  height: 24px;
} */

.active-link {
  border-bottom: 2px solid #38bdf8;
  color: #38bdf8 !important;
}


.social-fixed-buttons {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.social-fixed-buttons a {
  background: #1e293b;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.social-fixed-buttons a:hover {
  transform: scale(1.1);
  background: #38bdf8;
}

.social-fixed-buttons img {
  width: 24px;
  height: 24px;
}

@media (max-width: 576px) {
  .social-fixed-buttons {
    bottom: 10px;
    left: 10px;
    gap: 8px;
  }

  .social-fixed-buttons a,
  .resume-button {
    padding: 8px;
  }

  .social-fixed-buttons img,
  .resume-button img {
    width: 20px;
    height: 20px;
  }
}
